@import url(http://fonts.googleapis.com/css?family=Montserrat:400,100,300,500,700);

html, body {
  height: 100%;
}
html {
    display: table;
    width: 100%;
}
body {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    margin-block-start: 0.2em;
    font-size: 3.2vw;
    color: white;
    text-shadow: 3px 3px black;
}
h2 {
    padding-bottom: 15px;
    font-size: 2.5vw;
}
#game-container {
    width: 28%;
    margin: 0 auto;
    padding: 20px 40px;
    border: 20px double black;
    border-radius: 3.5vw;
    background: url("/leaves.JPG") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #d1e537;
    background-blend-mode: darken;
}
.board-container {
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 20px;
    background-color: black;
}
#overlay {
    display: none;
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 100%;
    margin-top: -100%;
    border-radius: 20px;
}
.board {
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 95%;
    margin: 2.5%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    overflow: hidden;
    box-sizing: border-box;
    width: 29.3%;
    height: 29.3%;
    background-color: white;
    border-radius: 15px;
    margin: 2%;
    display: table;
}
.cell-contents {
    overflow: hidden;
    box-sizing: border-box;
    line-height: 100%;
    font-size: 5vw;
    font-weight: 700;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.btn  {
    font-family: 'Montserrat', sans-serif;
    background: #000000;
    color: white;
    border: none;
    padding: 1.8vw 2.8vw;
    border-radius: 10px;
    font-weight: 700;
    font-size: 3vh;
    text-decoration: none;
    margin-top: 3.5vh;
}
.btn:hover {
    color: black;
    background: #d1e537;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    margin-top: 12vw;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#play-again-btn {
  margin-top: 2vh;
}
#show-winner {
  margin-top: 1.5vh;
  font-size: 1em;
  margin-bottom: 15px;
}
#logo {
  float: left;
  position: overlay;
  margin-top: -40px;
  margin-left: 20px;

}